.cart__ingredients {
  display: flex;
}

.cart__ingredients > span {
  margin-left: 1vw;
}

.cart__image__section {
  display: flex;
  min-width: 10vw;
  align-items: center;
}

.delete__icon {
  cursor: pointer;
  margin-right: 0.1vw;
}
