.category__container {
  min-height: 130vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.category__products {
  min-width: 80vw;
  margin: 0 1em;
  justify-content: center;
}

.category__products > h1 {
  padding-top: 1vh;
  color: #f5b22e;
  text-align: center;
  font-weight: bolder;
  font-size: 3.5rem;
}

.category__sidebar {
  width: 18vw;
  background: #f7f7f6;
}

@media screen and (max-width: 980px) {
  .category__container {
    display: flex;
    flex-wrap: wrap;
  }
  .category__sidebar {
    width: 100vw;
  }
}
