.categories__container {
  background: #f0f0f1;
  min-height: 80vh;
}

.categories {
  padding: 3vh 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}

.category {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category > button {
  font-weight: bold;
  color: white;
  background: #9a3324;
  padding: 15px 0;
  border: none;
  border-radius: 7px;
}

.category:hover > button {
  color: black;
  background: #f5b22e;
  cursor: pointer;
}
