.footer {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
  background-color: #2c2925;
  bottom: 0;
  min-height: 30vh;
}

.footer__backToTop:hover {
  background-color: #37475a;
}

.footer__contents {
  margin: 0px 30px;
  justify-content: center;
  padding: 10px;
  text-align: left;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 16em));
}

.footer__contents__column {
  padding: 0 30px;
}

.footer__contents__column > ul {
  list-style-type: none;
}

.footer__element {
  padding: 3px 0;
  cursor: pointer;
  color: #986638;
}

.footer__element:hover {
  color: rgb(214, 214, 214);
}

.footer__contents__column > ul > h3,
.footer__contents__column > h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: medium;
}

.footer__contents__column > ul > h3 > span {
  color: #f5b22e;
}

.social__icons {
  display: flex;
}
.social__icon {
  background: #383431;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 4px;
  cursor: pointer;
  padding: 5px;
}

.social__icon:hover {
  background: #f5b22e;
}

.footer__image {
    transition: all 0.4s ease-in-out;

}

.footer__image:hover {
    cursor: pointer;
    transform: scale(.8);
}
.footer__end {
    padding-top: 10px;
    margin-top: 10px;
  border-top: 0.1px solid rgb(109, 108, 108);


}

.footer__end > p {
    color: #986638;
    font-size: smaller;
}

