.ingredients {
  text-align: center;
  min-height: 100vh;
}
.ingredients__header {
  margin-top: 4vh;
}

.ingredients__header > p {
  color: #ac9382;
}

.ingredients__header > h1 {
  color: #2d2926;
}

.ingredients__title {
  margin: 2vh;
}

.ingredients__icon {
  border: 0.2em solid #f5b22e;
  margin: auto;
  padding-top: 1.1em;
  max-width: 3%;
  min-height: 4vh;
  border-radius: 50%;
}

.ingredients__title > p {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #f5b22e;
}
.ingredients__container {
  display: flex;
  flex-direction: column;
  margin: 2vh;
  margin-left: 17vw;
  width: 50%;
}

.ingredient {
  padding: 1vh 0;
  margin-left: 40%;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #e9e8e7;
}

.navigation__buttons {
  margin-left: 2vw;
}

.navigation__button {
  border-radius: 10%;
  margin: 2vw;
  font-weight: bold;
  color: #2d2926;
  background-color: #f8b02d;
}

.navigation__button:hover {
  color: rgb(255, 255, 255);
  background-color: #2d2926;
}
