.navbar {
  width: 100%;
  min-height: 12vh;
  background-color: #2c2925;
  display: flex;
  position: sticky;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar__logo {
  min-width: 4vw;
  cursor: pointer;
  margin: auto;
}

.navbar__options {
  color: #f5b22e;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.navbar__options_pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.navbar__options_pages > h3 {
  margin: 1em;
}

.navbar__options_pages > h3:hover {
  color: #5e1515;
  cursor: pointer;
}

.active {
  color: #2c2925;
  background: #f5b22e;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  border: 0.3em solid #f5b22e;
}

.navbar__options_icons {
  margin: auto;
  display: flex;
}

.navbar__options_icons > div {
  display: flex;
  padding: 0 0.15em;
}

.navbar__options_icons > div > span {
  padding-left: 0.4em;
}

.switch__language > span:hover {
  color: white;
}

.switch__language {
  cursor: pointer;
}

.switch__language_icon {
  transition: all 0.2s ease-in-out;
}

.switch__language_icon:hover {
  color: #5e1515;
  transform: scale(1.1);
}

.account__icon:hover {
  color: wheat;
}
