.products {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.product {
  margin: 1em;
  height: 20vh;
  cursor: pointer;
}

.product > P {
  color: #fff;
  background-color: #9a3324;
  border-radius: 5px;
  padding: 7px 0 7px 10px;
}

.product:hover > p {
  background: #f5b22e;
  color: black;
  padding: 7px 6px 7px 18px;
}

.product > P > span {
  margin-left: 28%;
}
