.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 23em));
}

.product {
  margin: 2em 1em;
  height: 20vh;
  cursor: pointer;
}

.product > P {
  color: #fff;
  height: 4rem;
  background-color: #9a3324;
  border-radius: 5px;
  padding: 1rem 0 1rem 1rem;  
}

.product:hover > p {
  background: #f5b22e;
  color: black;
  padding: 1rem .9rem 1rem 2rem;
  font-size: .9rem;
}

.product > P > span {
font-weight: 600;
padding-left: 2vw;
}

.product__image {
  text-align: center;
}
